{% extends "index.html" %}
{% block title %}<h2> Piłkarska liga szóstek tabela:</h2> {% endblock %}
{% block content %}

<table class="table table-bordered" style="width: 60%">
    <thead>
    <tr>
        <th style="width: 25%" scope="col">Pozycja</th>
        <th style="width: 50%" scope="col">Zespół</th>
        <th style="width: 25%" scope="col">Punkty</th>
    </tr>
    </thead>
    <tbody>
    {% for team in object_list %}
    <tr onclick="window.location = window.location.href + 'team/?team_id={{team.id}}'">
        <th> {{ forloop.counter }}</th>
        <th> {{ team.name }}</th>
        <th> {{ team.points }}</th>
    </tr>
    {% endfor %}
    </tbody>
</table>

{% if user.is_superuser %}
{% load crispy_forms_tags %}
<h2>Dodaj zespół:</h2>
<form method="post" style="margin-top: 1.3em;">
    {{ team_form | crispy }}
    {% csrf_token %}
    <button type="submit" class="btn btn-success">Dodaj</button>
</form>
<br/>
<h2>Dodaj zawodnika:</h2>
<form method="post" style="margin-top: 1.3em;">
    {{ player_form | crispy }}
    {% csrf_token %}
    <button type="submit" class="btn btn-success">Dodaj</button>
</form>
<br/>
<h2>Dodaj mecz:</h2>
<form method="post" style="margin-top: 1.3em;">
    {{ match_form | crispy }}
    {% csrf_token %}
    <button type="submit" class="btn btn-success">Dodaj</button>
</form>
{% endif %}


{% endblock %}